<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Blog</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <!-- select2 css -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <div style="width: 70%">
        <div class="pt-4">
          <h1>Create New Blog</h1>
        </div>
        <form
          id="blogForm"
          action="/blog/create"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="title"
              ><strong style="font-size: large">Title</strong></label
            >
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="emailHelp"
              placeholder="Enter Title"
              name="title"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >Please select the title that suits the most</small
            >
          </div>
          <div class="form-group">
            <label for="summary"
              ><strong style="font-size: large">summary</strong></label
            >
            <textarea
              class="form-control"
              id="summary"
              rows="3"
              placeholder="Let's start..."
              name="summary"
              required
            ></textarea>
          </div>

          <div class="pb-2">
            <label for="category"
              ><strong style="font-size: large">Select Category: </strong>
            </label>
            <input
              list="category"
              name="category"
              id="category"
              class="form-control"
              required
            />
            <datalist id="category">
              <% categories.forEach(function(item) { %>
              <option><%=item.category%></option>
              <% }); %>
            </datalist>
          </div>
          <div class="pb-2">
            <label for="tags">
              <strong style="font-size: large">Tags: </strong>
            </label>
            <input
              type="text"
              list="tags"
              name="tags"
              id="tags"
              class="form-control"
              placeholder="Tags separated by Comma(',') only"
            />
            <datalist id="tags">
              <% tags.forEach(function(item) { %>
              <option><%= item.tagname %></option>
              <% }); %>
            </datalist>
          </div>

          <div class="form-group">
            <label for="imageFile"
              ><strong style="font-size: large"> Select Image for Blog </strong>
            </label>
            <input
              type="file"
              class="form-control-file"
              id="imageFile"
              name="imageFile"
              required
            />
          </div>

          <div class="form-group">
            <label for="description"
              ><strong style="font-size: large">Description</strong></label
            >
            <textarea
              class="form-control"
              id="description"
              rows="3"
              placeholder="Let's start..."
              name="description"
            ></textarea>
          </div>

          <button class="btn btn-secondary">
            <a href="/home" style="color: #ffff">Cancel</a>
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <!-- Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Include jQuery (required by Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Initialize Select2 -->
    <script>
      $(document).ready(function () {
        $("#tags").select2();
      });
    </script>

    <!-- CKEditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
    <script>
      ClassicEditor.create(document.querySelector("#description")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script>

    <!-- custom js -->
    <script>
      document
        .getElementById("blogForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const form = event.target;
          const title = form.elements["title"].value;
          const summary = form.elements["summary"].value;
          const imgFile = document.getElementById("imageFile").files[0];
          const category = document.getElementById("category").value;
          const description = document.getElementById("description").value;
          const tags = document.getElementById("tags").value;
          const formData = new FormData();
          formData.append("title", title);
          formData.append("summary", summary);
          formData.append("category", category);
          formData.append("imageFile", imgFile);
          formData.append("description", description);
          formData.append("tags", tags);

          fetch("/blog/create", {
            method: "POST",
            body: formData, // JSON.stringify not working
          })
            .then((res) => res.json())
            .then((data) => {
              console.log("Response data:", data);
              if (data.redirectUrl) {
                window.location.href = data.redirectUrl;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
