<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (errorMessage) { %>
    <p
      class="text-danger text-center"
      style="transition: opacity 0.5s ease-in-out"
      role="alert"
      id="flashMessage"
    >
      <%= errorMessage %>
    </p>
    <% } else if(successMessage){ %>
    <p
      class="text-success text-center"
      style="transition: opacity 0.5s ease-in-out"
      role="alert"
      id="flashMessage"
    >
      <%= errorMessage %>
    </p>
    <% } %>
  </body>
</html>
